.ul {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.ul li {
  display: flex;
  align-items: center;
  gap: 10px;
}

.ul p {
  display: flex;
  flex-direction: column;
}

.ul span {
  color: gray;
  font-size: 14px;
}

.ul button:first-of-type {
  margin-left: auto;
}