.list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.list li {
  display: flex;
  align-items: center;
  gap: 12px;
}

.list img {
  width: 32px;
  height: 32px;
}

.btns-container {
  margin-left: auto;
}